@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  --primary-color: rgb(95, 87, 87);
  --secondary-color: rgb(233, 161, 173);
  --third-color:rgb(22, 21, 21);
  --white: #fff;
}

html, body{
  height: 100%;
}

body{
  display: flex;

  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  background-color: var(--primary-color);
}

/* Navigation */

.logo{
  color: var(--secondary-color);
  font-size: 2rem;
  font-weight: 400;
}

.navigation{
  background-color: var(--third-color);
}

.navigation nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation nav ul li a.active{
  color: var(--secondary-color);
}

.navigation nav ul{
  display: flex;
  list-style: none;
  margin-right: 15rem;
}

.navigation nav ul li{
  padding: 25px;
  margin-left: 2rem;
  margin-right: 2rem;
}

.navigation nav ul a{
  text-decoration: none;
  color: var(--white);
}

.navigation nav ul a:hover{
  color: var(--secondary-color);
}

.navigation nav .logo{
  margin-left: 3rem;
}

/* Footer */

.footer footer{
  background-color: var(--third-color);
  /* position: absolute; */
  flex-shrink: 0;

  width: 100%;
  height: 10vh;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer footer ul{
  display: flex;
  justify-content: space-between;
}

.footer footer h3{
  color: var(--secondary-color);
  margin-left: 1rem;
  font-weight: 400;
}

.footer footer ul li a{
  color: var(--white);
  list-style: none;
  text-decoration: none;
  margin-right: 4rem;
}

.footer footer ul li a.active{
  color: var(--secondary-color);
}

.footer footer ul li a:hover{
  color: var(--secondary-color);
}

.footer footer ul.social h3{
  margin-left: 2rem;
}

.footer footer ul.social i{
  text-decoration: none;
  color: var(--white);
  margin-left: 2rem;
}

.footer footer ul.social i:hover{
  color: var(--secondary-color);
}

.footer footer ul.social{
  margin-right: 35rem;
}

/* sliders */

.slider-container{
  flex: 1 0 auto;

  display: flex;
  flex-direction: column;
  
  width: 95%;
  height: 100vh;
  margin: 1rem auto;
}

.slider-container h2{
  color: var(--white);
  font-weight: 300;
  font-size: 2rem;
}

.slider1{
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
  margin: 1rem 2rem;
}

.slider2{
  position: relative;
  overflow: hidden;
  height: 50%;
  width: 100%;
  margin: 1rem 2rem;
}

.slide{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.4 ease-in-out;
}

/* .slide .content{
  position: absolute;
  bottom: 70px;
  left: -600px;
  opacity: 0;
  width: 600px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  padding: 35px;
} */

/* .slide.current .content {
  opacity: 1;
  transform: translateX(600px);
  transition: all 0.7s ease-in-out 0.3s;
} */

.slide.current{
  opacity: 1
}

.slide:first-child{
  background: url('../img/conjuring.jpeg');
  background-repeat: no-repeat;
  
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  
}

.slide:nth-child(2) {
  background: url('../img/creeper.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.slide:nth-child(3) {
  background: url('../img/lallorona.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}


/* Containers */

/* Jobs And Copyright */

.text-container{
  width: 70%;
  font-size: 1.5rem;
  margin: 2rem auto;
  flex: 1 0 auto;
}

.text-container p{
  color: var(--white);
  font-size: 1rem;
}

.privacy-text{
  margin: 2rem auto;
  padding: 1rem;
}

.flex-form{
  display: flex;
  flex-direction: column;
}

.form-card{
  width: 75%;
  height: 55%;
  margin: 1rem auto;
  padding: 1rem auto;
  box-shadow: 0 4px 8px 0 rgba(250, 248, 248, 0.2);
}

.flex-form button a{
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--white);
  padding: .5rem auto;
  cursor: pointer;
}

.flex-form button a:hover{
  color: var(--secondary-color);
}

.privacy-text .form-card form input, label, textarea{
  width: 85%;
  margin: .4rem auto;
}

.privacy-text .form-card form input{
  height: 2rem;
}

.privacy-text .form-card form label{
  color: var(--white);
}

.privacy-text .form-card form button{
  width: 30%;
  margin: .5rem auto;
  background-color: var(--third-color);
}


.text-card{
  margin: 2rem auto;
}

.text-card h6{
  color: var(--white);
  font-size: 1.5rem;
  font-weight: 300;
}

.text-card a{
  text-decoration: none;
  cursor: pointer;
  color: var(--secondary-color);
  font-size: 1rem;
}

.text-card a:hover{
  color: var(--white);
}

.text-container h2{
  color: var(--white);
  font-weight: 300;
}

/* Movies */

.movies-container{
  width: 70%;
  font-size: 1.5rem;
  margin: 2rem auto;
  flex: 1 0 auto;
}
.movies-container h2{
  color: var(--white);
  font-weight: 300;
}

.play-on{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  width: 95%;
}

.on-welli{
  width: 50%;
  margin: 1rem 1rem;
  display: flex;
  flex-direction: column;
}

.on-welli h4{
  color: var(--white);
  font-weight: 300;
}

.on-auck{
  width: 50%;
  margin: 1rem 1rem;
  display: flex;
  flex-direction: column;
}

.on-auck h4{
  color: var(--white);
  font-weight: 300;
}

.movie-text-container{
  display: flex;
  flex-direction: column;

  width: 100%;
}

.movie-text-container button a{
  text-decoration: none;
  color: var(--white);
  font-size: 1rem;
  padding: 1rem auto;
}

.movie-text-container button a:hover{
  color: var(--secondary-color);
}

.movie-text-container button{
  background-color: var(--third-color);
  width: 50%;
  margin: 1rem auto;
  border: none;
}

.movie-card{
  width: 100%;
  height: 55%;
  margin: 2rem auto;
  padding: .5rem auto;
  box-shadow: 0 4px 8px 0 rgba(247, 241, 241, 0.2);

  display: flex;
}

.movie-card:hover{
  border: var(--white) solid 3px;
  transition: .5s;
}

.movie-card img{
  width: 50%;
  height: 75%;

  margin: 0.5rem .5rem; 
  padding: 0 auto;
}

.movie-card p, span{
  color: var(--white);
  font-size: 1rem;
}

.movie-card h6{
  color: var(--white);
}


/* Cinemas */

.cinemas-container{
  width: 80%;
  font-size: 1.5rem;
  margin: 2rem auto;
  flex: 1 0 auto;
}

.maps-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-around;
  width: 100%;
}

.welli-complex{
  width: 41%;
  margin:2rem auto;

  box-shadow: 0 4px 8px 0 rgba(247, 241, 241, 0.2);

  display: flex;
  flex-direction: column;
}

.welli-complex h4{
  color: var(--white);
  font-weight: 300;
}

.welli-complex p{
  color: var(--white);
  font-size: 1rem;
}

.auck-complex{
  width: 41%;
  margin:2rem auto;

  box-shadow: 0 4px 8px 0 rgba(247, 241, 241, 0.2);

  display: flex;
  flex-direction: column;
}

.auck-complex h4{
  color: var(--white);
  font-weight: 300;
}

.auck-complex p{
  color: var(--white);
  font-size: 1rem;
}

.cinemas-container h2{
  color: var(--white);
  font-weight: 300;
}

/* Schedule */

.schedule-container{
  width: 70%;
  font-size: 1.5rem;
  margin: 2rem auto;
  flex: 1 0 auto;

  display: flex;
  flex-direction: column;
}

.schedule-container h2{
  color: var(--white);
  font-weight: 300;
}

.schedule-container table th{
  background: var(--third-color);
  color: var(--white);
  font-weight: 200;
  font-size: 1.2rem;
  text-align: center;
}

.schedule-container table td{
  color: var(--white);
  font-weight: 200;
  font-size: 1rem;
  text-align: center
}

.schedule-container table td a{
  text-decoration: none;
  color: var(--secondary-color);
  cursor: pointer;
  font-weight: 300;
}

.schedule-container table td a:hover{
  color: var(--white);
  font-size: 1.2rem;
  transition: .4s;
}

.table-container{
  display: flex;
  justify-content: center;
  align-content: center;
}

.table-1{
  margin: 1.5rem 2rem;
  padding: 1.5rem auto;
}

.table-2{
  margin: 1.5rem 2rem;
  padding: 1.5rem auto;
}

.table-1 h4{
  text-align: center;
  color: var(--white);
  font-weight: 200;
}

.table-2 h4{
  text-align: center;
  color: var(--white);
  font-weight: 200;
}

.black{
  background-color: var(--third-color);
}

.center{
  text-align: center;
}





